<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Scheduler"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student_Scheduler_App"
        tools:targetApi="31">

        <receiver
            android:name="ExtraOptions.Alert"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="ExtraOptions.Alert.ACTION_ALERT"/>

            </intent-filter>
        </receiver>

        <receiver
            android:name="ExtraOptions.AssessmentAlert"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="ExtraOptions.AssessmentAlert.ACTION_ALERT"/>

            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TermExpandedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".CourseExpandedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".TermEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".CourseEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".AssessmentEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".AssessmentExpandedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <service android:name="ExtraOptions.AssessmentAlert" />
    </application>

</manifest>